.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.Option {
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #3bce91;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemFooter {
    display: flex;
    justify-content: center;
}