.NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}
.Titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 40px;
}
.Categories{
    display: flex;
    justify-content: space-around;
}